/*

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/

*/
/* line 6, ../sass/partials/_bp2.scss */
body:after {
  content: 'bp2';
  display: none; }

/* line 6, ../sass/partials/_bp3.scss */
body:after {
  content: 'bp3';
  display: none; }

/* line 15, ../sass/partials/_bp3.scss */
.navigation-toggle {
  display: none; }

/* line 18, ../sass/partials/_bp3.scss */
.js nav[role=navigation] {
  max-height: none; }

/* line 21, ../sass/partials/_bp3.scss */
#navigation-toggle {
  margin: 0 0 0 -0.25em;
  border-width: 0; }
  /* line 25, ../sass/partials/_bp3.scss */
  #navigation-toggle ul {
    margin: 0 auto; }
    /* line 28, ../sass/partials/_bp3.scss */
    #navigation-toggle ul li {
      display: inline-block;
      margin: 0 12px 0 0; }
  /* line 33, ../sass/partials/_bp3.scss */
  #navigation-toggle a {
    border-width: 0;
    font-size: 14px;
    font-size: 1.4rem;
    text-transform: none; }

/* line 6, ../sass/partials/_bp4.scss */
body:after {
  content: 'bp4';
  display: none; }

/* line 10, ../sass/partials/_bp4.scss */
.m-hide {
  display: inline-block !important;
  visibility: visible; }

/* line 14, ../sass/partials/_bp4.scss */
.t-hide {
  display: none !important;
  visibility: hidden; }

/* line 19, ../sass/partials/_bp4.scss */
.hero-unit {
  padding: 48px;
  /*p*/ }
  /* line 22, ../sass/partials/_bp4.scss */
  .hero-unit p {
    font-size: 20px;
    font-size: 2rem; }
    /* line 25, ../sass/partials/_bp4.scss */
    .hero-unit p:last-child {
      margin-bottom: 0; }
  /* line 29, ../sass/partials/_bp4.scss */
  .hero-unit h1 {
    margin-bottom: 0.375em;
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 1;
    letter-spacing: -1px; }

/*hero-unit*/
/* line 43, ../sass/partials/_bp4.scss */
.navigation-footer-anchor li {
  display: inline-block;
  margin-right: 24px; }

/* line 47, ../sass/partials/_bp4.scss */
.f-nav li a {
  border-width: 0; }

/* line 55, ../sass/partials/_bp4.scss */
.js nav[role=navigation] {
  position: static;
  width: auto;
  max-width: none; }

/* line 60, ../sass/partials/_bp4.scss */
.navigation-left-nav-flyout-toggle {
  display: none; }

/* line 63, ../sass/partials/_bp4.scss */
#navigation-left-nav-flyout a {
  border-width: 0; }

/* line 66, ../sass/partials/_bp4.scss */
.wrap.active {
  left: 0; }

/* line 69, ../sass/partials/_bp4.scss */
#navigation-left-nav-flyout li {
  display: inline-block;
  margin: 0 0.25em; }

/* line 6, ../sass/partials/_bp5.scss */
body:after {
  content: 'bp5';
  display: none; }

/* line 10, ../sass/partials/_bp5.scss */
.t-hide {
  display: inline-block !important;
  visibility: visible; }

/* line 14, ../sass/partials/_bp5.scss */
.d-hide {
  display: none !important;
  visibility: hidden; }

/* line 6, ../sass/partials/_bp6.scss */
body:after {
  content: 'bp6';
  display: none; }
