/*

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/

*/

// Define the ‘atmosphere’ of your design in this config file
@import "config";

// Choose between reset and normalise
@import "partials/reset";
// @import "partials/normalise";

// Sass mixins
@import "partials/mixins";

// Site-wide styles
@import "partials/site";

// Layout styles
@import "partials/layout";

// Misc. HTML elements
@import "partials/elements";

// Atmosphere
@import "partials/typography";
@import "partials/colour";
@import "partials/texture";

// Utilities
// @import "modernizr";


// Configure which Sass partials, and therefore CSS,
// you want to include in your project. You don’t need to remove the
// references, nor delete the files from your project (you may need
// them later,) simply comment them out using //

@import "partials/bootstrap-accordion";
@import "partials/bootstrap-alerts";
@import "partials/bootstrap-breadcrumbs";
@import "partials/bootstrap-carousel";
@import "partials/bootstrap-hero";
@import "partials/bootstrap-media";
@import "partials/bootstrap-navs";
@import "partials/bootstrap-navbar";
@import "partials/bootstrap-pager";
@import "partials/bootstrap-pagination";
@import "partials/bootstrap-tables";
@import "partials/bootstrap-wells";
@import "partials/bootstrap-forms.scss";
@import "partials/bootstrap-form-help";
@import "partials/bootstrap-form-horizontal";
@import "partials/bootstrap-form-search";
@import "partials/bootstrap-form-buttons";

// Choose a responsive navigation pattern, or add a brand new one
@import "partials/navigation-toggle";
// @import "partials/navigation-footer-anchor";
// @import "partials/navigation-left-nav-flyout";

// Styles for the Rock Hammer examples page
@import "partials/furniture";

@media print {
@import "partials/print"; }

@media only #{$media} and ($feature: $bp2) {
@import "partials/bp2"; }

@media only #{$media} and ($feature: $bp3) {
@import "partials/bp3"; }

@media only #{$media} and ($feature: $bp4) {
@import "partials/bp4"; }

@media only #{$media} and ($feature: $bp5) {
@import "partials/bp5"; }

@media only #{$media} and ($feature: $bp6) {
@import "partials/bp6"; }

// 2x
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
@import "partials/2x"; }