<div class="l-wrap">
<div class="l-summary">
<h3>Primary colour</h3>
<p class="secondary"><!-- $primarycolor --></p>
</div><!-- l-summary -->

<div class="l-content">
<div class="swatch swatch-base">
<div class="swatch-row swatch-row-one clearfix">
<span></span>
<span></span>
<span></span>
<span></span>
</div>
<div class="swatch-row swatch-row-two clearfix">
<span></span>
<span></span>
<span></span>
<span></span>
</div>
</div>
</div><!-- l-content -->
</div><!-- l-wrap -->

<!-- Next -->

<div class="l-wrap">
<div class="l-summary">
<h3>Secondary colour</h3>
<p class="secondary"><!-- $secondarycolor --></p>
</div><!-- l-summary -->

<div class="l-content">
<div class="swatch swatch-secondary">
<div class="swatch-row swatch-row-one clearfix">
<span></span>
<span></span>
<span></span>
<span></span>
</div>
<div class="swatch-row swatch-row-two clearfix">
<span></span>
<span></span>
<span></span>
<span></span>
</div>
</div>
</div><!-- l-content -->
</div><!-- l-wrap -->

<!-- Next -->

<div class="l-wrap">
<div class="l-summary">
<h3>Tertiary colour</h3>
<p class="secondary"><!-- $tertiarycolor --></p>
</div><!-- l-summary -->

<div class="l-content">
<div class="swatch swatch-tertiary">
<div class="swatch-row swatch-row-one clearfix">
<span></span>
<span></span>
<span></span>
<span></span>
</div>
<div class="swatch-row swatch-row-two clearfix">
<span></span>
<span></span>
<span></span>
<span></span>
</div>
</div>
</div><!-- l-content -->
</div><!-- l-wrap -->

<!-- Next -->

<div class="l-wrap">
<div class="l-summary">
<h3>Neutral colour</h3>
<p class="secondary"><!-- $neutralcolor --></p>
</div><!-- l-summary -->

<div class="l-content">
<div class="swatch swatch-neutral">
<div class="swatch-row swatch-row-one clearfix">
<span></span>
<span></span>
<span></span>
<span></span>
</div>
<div class="swatch-row swatch-row-two clearfix">
<span></span>
<span></span>
<span></span>
<span></span>
</div>
</div>
</div><!-- l-content -->
</div><!-- l-wrap -->