<!-- Load libraries and plugins -->
<!-- @javascript jquery-1.8.3-min -->
<!-- @javascript jquery.scrollTo.min -->
<!-- @javascript bootstrap-min -->

<!-- Functionality only used by Rock Hammer -->
<!-- @javascript navigation-manager.js -->

<!-- Remove any navigation patterns below that arent used -->
<!-- // @javascript nav-toggle -->
<!-- @javascript left-nav-flyout -->
<!-- @javascript responsive-nav.min -->

<!-- Load configuration and initialise JavaScripts. 
	 Look in config.js to see how to turn items on/off -->
<!-- @javascript config -->
<!-- @javascript main -->

<script>
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>