<!-- Load libraries -->
<!-- @javascript jquery-1.8.3-min -->
<!-- @javascript jquery.scrollTo.min -->

<!-- Load plugins (including a file turns functionality on) -->
<!-- Load bootstrap-transition first so that nice glides/fades 
	etc for the other bootstrap plugins work -->
<!-- @javascript bootstrap-transition -->
<!-- @javascript bootstrap-carousel -->
<!-- @javascript bootstrap-tooltip -->
<!-- Popover has a dependency on tooltip, so make sure and include 
	bootstrap-tooltip regardless in order for popovers to work -->
<!-- @javascript bootstrap-popover -->
<!-- @javascript bootstrap-modal -->
<!-- @javascript bootstrap-collapse -->

<!-- Functionality only used by Rock Hammer -->
<!-- @javascript navigation-manager.js -->

<!-- Remove any navigation patterns below that arent used -->
<!-- // @javascript nav-toggle -->
<!-- @javascript left-nav-flyout -->
<!-- @javascript responsive-nav.min -->

<script>
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>