// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

body:after {
content : 'bp3';
display : none; }




// See _navigation-toggle.scss

.navigation-toggle,
#nav-toggle {
display : none; }

.js nav[role=navigation] {
max-height : none; }

#navigation-toggle {
margin : 0 0 0 -0.25em;
border-width : 0; 

ul {
margin : 0 auto;

li {
display : inline-block;
margin : 0 $gutterwidth / 2 0 0; }
}

a {
border-width : 0;
@include font-size(14); 
text-transform : none; }

}