// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

body:after {
content : 'bp4';
display : none; }

.m-hide {
display : inline-block !important; 
visibility : visible; }

.t-hide {
@include hidden; }

// See _bootstrap-hero.scss

.hero-unit {
padding : $gutterwidth * 2; 

p {
@include font-size($basefontsize * 1.25);

&:last-child {
margin-bottom : 0; }
}/*p*/

h1 {
margin-bottom : $baselineheight / 4;
@include font-size(48);
line-height : 1;
letter-spacing : -1px; }

}/*hero-unit*/





// See _navigation-footer-anchor.scss

.navigation-footer-anchor li {
display : inline-block;
margin-right : $gutterwidth; }

.f-nav li a {
border-width : 0; }




// See _navigation-left-nav-flyout.scss

.js nav[role=navigation] {
position : static;
width : auto; 
max-width : none; }

.navigation-left-nav-flyout-toggle {
display : none; }

#navigation-left-nav-flyout a { 
border-width : 0; }

.wrap.active {
left : 0; }

#navigation-left-nav-flyout li {
display : inline-block;
margin : 0 .25em; }







