// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

h1, h2, h3, h4, h5, h6 {
margin : 0;
font-family : $baseheadingfont;
font-weight : $baseheadingfontweight;
color : $baseheadingfontcolor;
text-rendering : optimizelegibility;

small {
font-weight : normal;
line-height : 1;
color : $lightneutralcolor; }
}

h1,
.h1 {
@include heading(2, 2, 1.2); }

h2,
.h2 {
@include heading(2, 1.5, 1.2); }

h3,
.h3 {
@include heading(1.5, 1.3, 1.3); }

h4,
.h4 {
@include heading(1, 1.25, 1.25); }

h5,
.h5 {
@include heading(1, 1.15); }

h6,
.h6 {
@include heading();
font-weight : normal;
letter-spacing : 1px;
text-transform : uppercase; }

p,
ol,
ul,
dl,
address {
margin-bottom : $baselineheight;
@include font-size($basefontsize);
line-height : $baselineheight; }

small {
@include font-size($basefontsize / 1.25); }

ul,
ol {
margin : 0 0 $baselineheight #{-$gutterwidth};
padding : 0 0 0 $gutterwidth; }

li ul,
li ol {
list-style-type : none;
margin : $baselineheight 0;
@include font-size(16); }

ul.inline,
ol.inline {
list-style-type : none;
margin-left : 0;
& > li {
display : inline-block;
padding-left : $gutterwidth / 2;
padding-right : $gutterwidth / 2; }
}

// blockquote

blockquote  {
margin : 0 0 $baselineheight 0;
padding : $gutterwidth / 2;
background-color : $basefontbackgroundcolor;
font-style : normal;

small {
&:before {
content : '\00A0 \2014'; }

&:after {
content : ''; }
}

&.pull-right {
float : right;
background-color : transparent;

p, small {
text-align : right; }

small {
&:before {
content : ''; }

&:after {
content : '\00A0 \2014'; }
}
}

cite {
font-style : normal; }
}

q {
quotes : none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
content : '';
content : none; }

dl,
dd {
margin-bottom : $baselineheight;  }

dt {
font-weight : bold; }

.dl-horizontal {
@include clearfix;

dt {
float : left;
clear : left;
width : 30.38869258%; }

dd {
margin-left : 32.99289258%; }
}

abbr[title] {
border-bottom : 1px dotted $bordercolor;
cursor : help; }

b, strong {
font-weight : bold; }

dfn {
font-style : italic; }

ins {
background-color : $basefontbackgroundcolor;
color : $textcolor;
text-decoration : none; }

mark {
background-color : $basefontbackgroundcolor;
color : $textcolor;
font-style : italic;
font-weight : bold; }

pre,
code,
kbd,
samp {
font-family : $codefont;
@include font-size($basefontsize / 1.25);
line-height : $baselineheight;
color : lighten($textcolor,.50%); }

pre {
white-space : pre;
white-space : pre-wrap;
word-wrap : break-word; }

sub,
sup {
position : relative;
@include font-size($basefontsize / 1.25);
line-height : 0;
vertical-align : baselineheight; }

sup {
top : -.5em; }

sub {
bottom : -.25em; }

.lead {
@include font-size($basefontsize * 1.15); }

.secondary {
@include font-size($basefontsize / 1.15); }

.tertiary {
@include font-size($basefontsize / 1.25); }

.amp {
font-family : $ampfontfamily; }

.spaced {
letter-spacing : 1px; }